body{
    background: url(https://wallpaperaccess.com/full/767283.jpg) no-repeat;
 background-size: cover;
 -webkit-background-size:cover;
 
 background-attachment: fixed;
 position: relative;
}
.yt{
    color: rgb(240, 245, 245);
    text-align: center;
margin-bottom: auto;
background: fixed;
position: absolute;
top: 184px;
left: 50px;
text-shadow: 1px 1px #0a0a0a;
}
h1{
    color: rgb(250, 9, 9);
    font-size: 69px;
    text-shadow: h-shadow;
    font-family: 'Bungee Spice', cursive;
    text-shadow: 4px 4px #0a0a0a;

}
.box{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
     border-radius: 2rem;
     padding: .5rem;
     text-align: center;
     border: none;
}
.boxx{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    display: inline-block;
    background-color: rgb(234, 238, 238);
padding: .3rem;

border: none;
border-radius: .3rem;
margin-top: 1rem;
padding: .7rem;
}
.rtx{
    display: inline;
    margin-left: -37rem;
    text-shadow: 1px 1px #0a0a0a;
    color:aliceblue;
}
